<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PuntoPlay</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container" id="Newgrille">
        <div id="grille">
        </div>
    </div>
    <div class="container">
        <div id="Champ"></div>
        <div id="Victoire"></div>
        <div id="BontonRestrat">
            
        </div>
    </div>
    <script>
        const formData = JSON.parse(decodeURIComponent('<%- JSON.stringify(data) %>'));
    </script>
    <script src="punto.js"></script>
</body>
</html>